MONGO_CONNECTION_STRING=
MONGO_DB_NAME=pastebin
MONGO_COLLECTION_NAME=pastes
KEY_LENGTH=6
MAX_PASTE_SIZE=10000
EXPIRATION_HOURS=24
FLASK_DEBUG=False
FLASK_PORT=5000
FLASK_HOST=0.0.0.0

SECRET_KEY= your_secret_key
# prod or dev
FLASK_ENV = prod
STATIC_BASE_URL = https://<S3_BUCKET_NAME>.s3.ap-south-1.amazonaws.com